/* Align columns perfectly */
.items-start .col-span-8 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem; /* Add spacing between the rows */
}

/* Adjust for responsive alignment */
@media (max-width: 768px) {
    .grid-cols-12 {
        grid-template-columns: 1fr; /* Stack on smaller screens */
    }
}

table tr td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
table tr.border-b td {
    border-bottom: 1px solid #ddd; /* Light border */
}
table tr:last-child td {
    border-bottom: none; /* Remove border from the last row */
}
